$widthLabel: 20%;
$widthInput: 50%;
$widthSelect: $widthInput;
$widthNavControls: 20%;

.item-multi-data-evento {
	margin: 0 0 1rem 0;

	label {
		float: left;
		width: $widthLabel !important;
	}

	select {
		float: left;
		width: $widthSelect !important;
	}

	input {
		float: left;
		width: $widthInput !important;
	}

	.item-multi-data-nav-controls {
		float: left;
		width: $widthNavControls !important;
		margin: 0 0 0 2%;

		.btn {
			margin: 0 0 0 3%;
		}
	}
}
