$widthLabel: 20%;
$widthInput: 50%;
$widthSelect: $widthInput;
$widthTextarea: $widthInput;
$widthNavControls: 35%;

.item-multi-data-evento {
	margin: 0 0 1rem 0;

	label {
		float: left;
		width: $widthLabel !important;
	}

	select {
		float: left;
		width: $widthSelect !important;
	}

	input {
		float: left;
		width: $widthInput !important;
	}

	textarea {
		float: left;
		width: $widthTextarea !important;
		height: 7rem;
	}

	.item-multi-data-nav-controls {
		float: left;
		width: $widthNavControls !important;
		margin: 0 0 0 2%;

		.btn {
			margin: 0 0 0 3%;
		}
	}
}

.eventos-list-header {
	.eventos-titulo-header {
		width: 70%;
	}

	 eventos-fecha-header {
	 	width: 14%;
	 }
}

.eventos-list {
	.eventos-list-item {
		.eventos-titulo {
			width: 70%;
			float: left;
			h6 {
				font-size: 0.9rem;
			}
		}
		.eventos-fechas {
			width: 14%;
			float: left;
			font-size: .9rem;
		}
		.wrapper-controls {
			width: 13%;
		}
	}
}
