<div class="item-multi-data item-multi-data-evento item-director-evento">
	<label>Director:</label>
	<select ng-model="integrante" ng-disabled="isConfirmed"> <!-- agregarle un identificador -->
		<option value="" default selected>Selecciona el director</option>
		<option ng-repeat="integrante in integrantes" value="{{ integrante.id }}">{{ integrante.nombres + " " + integrante.apellidos }}</option>
	</select>
	<nav class="item-multi-data-nav-controls">
		<div class="btn btn-add-item-director" ng-click="confirmItem()">Confirmar<span class="btn-icon">⨁</span></div>
		<div class="btn btn-remove-item-director" ng-click="removeItem()">Eliminar<span class="btn-icon">⨂</span></div>
	</nav>
</div>