<div class="item-multi-data item-multi-data-evento item-musico-evento">
	<label>Músico:</label>
	<select ng-model="musico" ng-disabled="isConfirmed">
		<option value="" default selected>Selecciona el musico</option>
		<option ng-repeat="integrante in integrantes" value="{{ integrante.id }}">{{ integrante.nombres + " " + integrante.apellidos }}</option>
	</select>
	<nav class="item-multi-data-nav-controls">
		<div class="btn btn-add-item-musico-evento" ng-click="confirmItem()">Confirmar<span class="btn-icon">⨁</span></div>
		<div class="btn btn-remove-item-musico-evento" ng-click="removeItem()">Eliminar<span class="btn-icon">⨂</span></div>
	</nav>
</div>