<div class="item-multi-data item-multi-data-evento item-reposicion-coreografica-evento">
	<label>Reposición coreografica:</label>
	<select ng-model="reposicionCoreografica" ng-disabled="isConfirmed"> <!-- agregarle un identificador -->
		<option value="" default selected>Selecciona el reposición coreográfica</option>
		<option ng-repeat="integrante in integrantes" value="{{ integrante.id }}">{{ integrante.nombres + " " + integrante.apellidos }}</option>
	</select>
	<nav class="item-multi-data-nav-controls">
		<div class="btn btn-add-item-reposicion-coreografica" ng-click="confirmItem()">Confirmar<span class="btn-icon">⨁</span></div>
		<div class="btn btn-remove-item-reposicion-coreografica" ng-click="removeItem()">Eliminar<span class="btn-icon">⨂</span></div>
	</nav>
</div>