<div class="item-multi-data item-musico-evento">
	<div class="btn btn-remove-item-musico" ng-click="removeItem()">Eliminar<span class="btn-icon">⨂</span></div>
	<div class="btn btn-add-item-musico" ng-click="confirmItem()">Confirmar<span class="btn-icon">⨁</span></div>	
	<select name="selectMusico" ng-model="musico" ng-disabled="isConfirmed"> <!-- agregarle un identificador -->
		<option value="" default selected>Selecciona el musico</option>
		<option ng-repeat="integrante in integrantes" value="{{ integrante.id }}">{{ integrante.nombres + " " + integrante.apellidos }}</option>
	</select>
</div>