<h1 class="section-title">Seccion Giras y Eventos</h1>
<section class="sub-section container-filters" ng-controller="EventosFiltersCtrl">
	<h2 class="sub-section-title">{{ add ? 'Agregar' : 'Editar' }}</h2>
	<form name="EventosFiltersForm" class="container-filters-form">
		<ul class="container-filters-form-list">
			<li class="container-filters-form-list-item full-width">
				<label>Titulo:</label>
				<input name="eventoTitulo" type="text" placeholder="Ingrese un nuevo titulo" ng-model="evento.titulo" value="{{ evento.titulo }}" />
			</li>
			<li class="container-filters-form-list-item">
				<label>Imágen:</label>
			</li>
			<li class="container-filters-form-list-item">
				<label>Tipo de evento:</label>
				<select name="selectUbicacion" ng-model="evento.ubicacion">
					<option value="" default selected>Selecciona el tipo de evento</option>
					<option ng-repeat="ubicacion in ubicaciones" value="{{ ubicacion.id }}">{{ ubicacion.id }}</option>
				</select>
			</li>
			<li class="container-filters-form-list-item">
				<label>Locación:</label>
				<select name="selectLocacion" ng-model="evento.locacion">
					<option value="" default selected>Selecciona la ubicación</option>
					<option ng-repeat="locacion in locaciones" value="{{ locacion.id }}">{{ locacion.codigoTexto }}</option>
				</select>
			</li>
			<li class="container-filters-form-list-item">
				<label>Ciudad:</label>
				<select name="selectCiudad" ng-model="evento.ciudad">
					<option value="" default selected>Selecciona la ciudad</option>
					<option ng-repeat="ciudad in ciudades" value="{{ ciudad.idciudad }}">{{ ciudad.str_ciudad }}</option>
				</select>
			</li>
			<li class="container-filters-form-list-item">
				<label>Pais:</label>
				<select name="selectUbicacion" ng-model="evento.pais">
					<option value="" default selected>Selecciona el país</option>
					<option ng-repeat="pais in paises" value="{{ pais.idpais }}">{{ pais.str_pais }}</option>
				</select>
			</li>
			<li class="container-filters-form-list-item">
				<label>Nacionalidad:</label>
				<select name="selectNacionalidad" ng-model="evento.idNacioalidad">
					<option value="" default selected>Selecciona la nacionaldad</option>
					<option ng-repeat="nacionalidad in nacionalidades" value="{{ nacionalidad.id }}">{{ nacionalidad.codigoNacionalidad }}</option>
				</select>
			</li>
			<li class="container-filters-form-list-item">
				<label>Temporada:</label>
				<select name="selectTemporada" ng-model="evento.idTemporada">
					<option value="" default selected>Selecciona la temporada</option>
					<option ng-repeat="temporada in temporadas" value="{{ nacionalidad.id }}">{{ temporada.codigoNombre }}</option>
				</select>
			</li>
			<li class="container-filters-form-list-item full-width">
				<div class="multi-data">
					<header class="header-multi-data">
						<h4 class="title-multi-data"></h4>
						<div class="btn btn-add-fechas" ng-click="addElement('item-fecha-evento','.multi-data-fechas')">Agregar fecha<span class="btn-icon">⨁</span></div>
					</header>
					<div class="holder-content-multi-data multi-data-fechas"></div>
				</div>			
			</li>
			<li class="container-filters-form-list-item full-width">
				<h4 class="container-filters-form-list-item-title">Director:</h4>
				<div class="container-filters-form-list-item item-subitem">
					<label>Nombre:</label>
					<select name="selectDirector" ng-model="evento.idDirector">
						<option value="" default selected>Selecciona el director</option>
						<option ng-repeat="director in directores" value="{{ director.id }}">{{ director.nombres + " " + director.apellidos }}</option>
					</select>
				</div>
				<div class="container-filters-form-list-item item-subitem">
					<label>Link:</label>
					<input type="text" readonly placeholder="URL del director"  />
				</div>
			</li>
		</ul>
		<div class="container-filters-form-extra-information">
			<h3 class="container-filters-form-extra-information-title">Información adicional</h3>
			<ul class="container-filters-form-list">
				<li class="container-filters-form-list-item item-extra-information full-width">
					<ul class="item-extra-information-list item-director">
						<li class="item-extra-information-list-item">
							<div class="multi-data">
								<header class="header-multi-data">
									<h4 class="title-multi-data">Textos:</h4>
									<div class="btn btn-add-textos" ng-click="addElement('item-texto-evento','.multi-data-textos')">Agregar texto<span class="btn-icon">⨁</span></div>
								</header>
								<div class="holder-content-multi-data multi-data-textos"></div>
							</div>
							<div class="multi-data">
								<header class="header-multi-data">
									<h4 class="title-multi-data">Música:</h4>
									<div class="btn btn-add-musicos" ng-click="addElement('item-musico-evento','.multi-data-musicos')">Agregar músico<span class="btn-icon">⨁</span></div>
								</header>
								<div class="holder-content-multi-data multi-data-musicos"></div>
							</div>
							<div class="multi-data">
								<header class="header-multi-data">
									<h4 class="title-multi-data">Coreografías:</h4>
									<div class="btn btn-add-coreografia" ng-click="addElement('item-coreografia-evento','.multi-data-coreografia')">Agregar coreografia<span class="btn-icon">⨁</span></div>
								</header>
								<div class="holder-content-multi-data multi-data-coreografia"></div>
							</div>
							<div class="multi-data">
								<header class="header-multi-data">
									<h4 class="title-multi-data">Reposiciónes coreográficas:</h4>
									<div class="btn btn-add-reposicion-coreografia" ng-click="addElement('item-reposicion-coreografica-evento','.multi-data-reposición-coreografica')">Agregar reposición coreográfica<span class="btn-icon">⨁</span></div>
								</header>
								<div class="holder-content-multi-data multi-data-reposición-coreografica"></div>
							</div>
							<div class="multi-data">
								<header class="header-multi-data">
									<h4 class="title-multi-data">Bailarines solistas:</h4>
									<div class="btn btn-add-bailarin-solista" ng-click="addElement('item-bailarin-solista-evento','.multi-data-bailarin-solista')">Agregar bailarin solista<span class="btn-icon">⨁</span></div>
								</header>
								<div class="holder-content-multi-data multi-data-bailarin-solista"></div>
							</div>							 
						</li>
					</ul>
					<div class="btn btn-remove" ng-click="removeItem()">Cancelar información extra</div>
				</li>
			</ul>
		</div>
		<div class="container-filters-form-wrapper-controls wrapper-controls">
			<nav class="wrapper-controls-nav">
				<ul class="wrapper-controls-list">
					<li class="wrapper-controls-list-item btn btn-clean" ng-click="cleanFields()">Cancelar</li>
					<li class="wrapper-controls-list-item btn btn-save" ng-click="postEvento(evento)">Guardar</li>
				</ul>
			</nav>
		</div>
		<span class="error">{{ errorText }}</span>
		{{ evento }}
	</form>
</section>
<section class="sub-section container-data" ng-controller="EventosListCtrl">
	<h2 class="sub-section-title">Totál de eventos ({{ eventos.length }})</h2>
	<ul class="container-data-list-header eventos-list-header">
		<li class="container-data-list-header-item-column eventos-titulo-header">
			<span class="container-data-list-header-item-column-value">Titulo</span>
		</li>		
	</ul>
	<ul class="container-data-list eventos-list">
		<li class="container-data-list-item eventos-list-item" ng-class="{ 'selected':(evento.idEvento===evento.idEvento) }" ng-repeat="evento in eventos">
			<div class="container-data-list-item-column eventos eventos-titulo">
				<span class="container-data-list-item-column-value">{{ evento.strTitulo }}</span>
			</div>
			<div class="eventos wrapper-controls">
				<nav class="wrapper-controls-nav">
					<ul class="wrapper-controls-list">
						<li class="wrapper-controls-list-item btn btn-edit" ng-click="edit(evento)">Editar</li>
						<li class="wrapper-controls-list-item btn btn-remove" ng-click="delete(evento.id)">Eliminar</li>
					</ul>
				</nav>
			</div>
		</li>
	</ul>
</section>

