<h1 class="section-title">Seccion Giras y Eventos</h1>
<section class="sub-section container-filters" ng-controller="EventosFiltersCtrl">
	<h2 class="sub-section-title">{{ add ? 'Agregar' : 'Editar' }}</h2>
	<form name="EventosFiltersForm" class="container-filters-form">
		<ul class="container-filters-form-list">
			<li class="container-filters-form-list-item full-width">
				<label>Titulo:</label>
				<input type="text" placeholder="Ingrese un nuevo titulo" ng-model="evento.titulo" value="{{ evento.titulo }}" />
			</li>
			<li class="container-filters-form-list-item">
				<label>Imágen:</label>
				<!--<input type="file" nv-file-select="" ng-model="evento.imagen" uploader="uploader" />-->
			</li>
			<li class="container-filters-form-list-item">
				<label>Ciclos:</label>
				<select ng-model="evento.ciclo">
					<option value="" default selected>Selecciona el tipo de evento</option>
					<option ng-repeat="ciclos in ciclos" value="{{ ciclos.id }}">{{ parseText(ciclos.codigoCiclo) }}</option>
				</select>
			</li>
			<li class="container-filters-form-list-item">
				<label>Locación:</label>
				<select ng-model="evento.locacion">
					<option value="" default selected>Selecciona la ubicación</option>
					<option ng-repeat="locacion in locaciones" value="{{ locacion.id }}">{{ parseText(locacion.codigoTexto) }}</option>
				</select>
			</li>
			<li class="container-filters-form-list-item">
				<label>Nacionalidad:</label>
				<select ng-model="evento.nacionalidad">
					<option value="" default selected>Selecciona la nacionaldad</option>
					<option ng-repeat="nacionalidad in nacionalidades" value="{{ nacionalidad.id }}">{{ nacionalidad.codigoNacionalidad }}</option>
				</select>
			</li>
			<li class="container-filters-form-list-item">
				<label>Pais:</label>
				<select ng-model="evento.pais">
					<option value="" default selected>Selecciona el país</option>
					<option ng-repeat="pais in paises" value="{{ pais.idpais }}">{{ pais.str_pais }}</option>
				</select>
			</li>
			<li class="container-filters-form-list-item">
				<label>Ciudad:</label>
				<select ng-model="evento.ciudad">
					<option value="" default selected>Selecciona la ciudad</option>
					<option ng-repeat="ciudad in ciudades" value="{{ ciudad.idciudad }}">{{ ciudad.str_ciudad }}</option>
				</select>
			</li>
			<li class="container-filters-form-list-item">
				<label>Temporada:</label>
				<select ng-model="evento.temporada">
					<option value="" default selected>Selecciona la temporada</option>
					<option ng-repeat="temporada in temporadas" value="{{ temporada.id }}">{{ parseText(temporada.codigoNombre) }}</option>
				</select>
			</li>
			<li class="container-filters-form-list-item full-width">
				<!--<div class="container-filters-form-list-item item-subitem">
					<label>Desde:</label>
					<input ng-model="evento.fechaDesde" type="datetime-local" />
				</div>
				<div class="container-filters-form-list-item item-subitem">
					<label>Hasta:</label>
					<input ng-model="evento.fechaHasta" type="datetime-local" ng-disabled="true" />
				</div>-->
				<div class="multi-data">
					<header class="header-multi-data">
						<h4 class="title-multi-data"></h4>
						<div class="btn btn-add-fechas" ng-click="addElement('item-fecha-evento','.multi-data-fechas')">Agregar funciones al calendario<span class="btn-icon">⨁</span></div>
					</header>
					<div class="holder-content-multi-data multi-data-fechas">

						<item-fecha-evento ng-repeat="f in evento.fechas" data="{{f}}"></item-fecha-evento>
					</div>
				</div>
			</li>
			<li class="container-filters-form-list-item full-width">
				<h4 class="container-filters-form-list-item-title">Director principal:</h4>
				<div class="container-filters-form-list-item item-subitem">
					<label>Nombre:</label>
					<select name="selectDirector" ng-model="evento.director">
						<option value="" default selected>Selecciona el director</option>
						<option ng-repeat="director in directores" value="{{ director.id }}">{{ director.nombres + " " + director.apellidos }}</option>
					</select>
				</div>
				<div class="container-filters-form-list-item item-subitem">
					<label>Link:</label>
					<input type="text" readonly placeholder="URL del director"  />
				</div>
			</li>
		</ul>
		<div class="container-filters-form-extra-information">
			<h3 class="container-filters-form-extra-information-title">Información adicional</h3>
			<ul class="container-filters-form-list">
				<li class="container-filters-form-list-item item-extra-information full-width">
					<ul class="item-extra-information-list item-director">
						<li class="item-extra-information-list-item">
							<div class="multi-data">
								<header class="header-multi-data">
									<h4 class="title-multi-data">Textos:</h4>
									<div class="btn btn-add-textos" ng-click="addElement('item-texto-evento','.multi-data-textos')">Agregar texto<span class="btn-icon">⨁</span></div>
								</header>
								<div class="holder-content-multi-data multi-data-textos">
									<item-texto-evento ng-repeat="txt in evento.extras.textos" data="{{txt}}"></item-texto-evento>
								</div>
							</div>
							<div class="multi-data">
								<header class="header-multi-data">
									<h4 class="title-multi-data">Directores:</h4>
									<div class="btn btn-add-directores" ng-click="addElement('item-director-evento','.multi-data-directores')">Agregar director<span class="btn-icon">⨁</span></div>
								</header>
								<div class="holder-content-multi-data multi-data-directores">
									<item-director-evento ng-repeat="director in evento.extras.directores" data="{{ director }}"></item-director-evento>
								</div>
							</div>
							<div class="multi-data">
								<header class="header-multi-data">
									<h4 class="title-multi-data">Compositores:</h4>
									<div class="btn btn-add-compositores" ng-click="addElement('item-compositor-evento','.multi-data-compositores')">Agregar compositor<span class="btn-icon">⨁</span></div>
								</header>
								<div class="holder-content-multi-data multi-data-compositores">
									<item-compositor-evento ng-repeat="compositor in evento.extras.compositores" data="{{ compositor }}"></item-compositor-evento>
								</div>
							</div>
							<div class="multi-data">
								<header class="header-multi-data">
									<h4 class="title-multi-data">Solistas:</h4>
									<div class="btn btn-add-solistas" ng-click="addElement('item-solista-evento','.multi-data-solistas')">Agregar solista<span class="btn-icon">⨁</span></div>
								</header>
								<div class="holder-content-multi-data multi-data-solistas">
									<item-solista-evento ng-repeat="solista in evento.extras.solistas" data="{{ solista }}"></item-solista-evento>
								</div>
							</div>					 
						</li>
					</ul>
					<!--<div class="btn btn-remove" ng-click="removeItem()">Cancelar información extra</div>-->
				</li>
			</ul>
		</div>
		<div class="container-filters-form-wrapper-controls wrapper-controls">
			<nav class="wrapper-controls-nav">
				<ul class="wrapper-controls-list">
					<li class="wrapper-controls-list-item btn btn-clean" ng-click="onCancelEvento()">Cancelar</li>
					<li class="wrapper-controls-list-item btn btn-save" ng-click="postEvento()">Guardar
					<div class="icon-loader" ng-show="isSaving"><img src="images/loader.gif" width="20" height="20" /></div>
					</li>
				</ul>
			</nav>
		</div>
		<span class="error">{{ errorText }}</span>
	</form>
</section>

{{evento}}

<section class="sub-section container-data" ng-controller="EventosListCtrl">
	<h2 class="sub-section-title">Totál de eventos ({{ eventos.length }})</h2>
	<ul class="container-data-list-header eventos-list-header">
		<li class="container-data-list-header-item-column eventos-titulo-header">
			<span class="container-data-list-header-item-column-value">Titulo</span>
		</li>

	</ul>
	<ul class="container-data-list eventos-list">
		<li class="container-data-list-item eventos-list-item" ng-class="{ 'selected':(evento.uidEvento===eventoSeleccionado.uidEvento) }" ng-repeat="evento in eventos">
			<div class="container-data-list-item-column eventos eventos-titulo">
				<h6 class="container-data-list-item-column-value">{{ evento.titulo }}</h6>
			</div>
			<div class="container-data-list-item-column eventos eventos-fechas">
				<ul>
					<li ng-repeat="fecha in evento.fechas">{{fecha.fecha}} {{fecha.horaInicio}}</li>
				</ul>
			</div>
			<div class="container-data-list-item-column eventos eventos-link">
				<span class="container-data-list-item-column-value">{{evento.link}}</span>
			</div>			
			<div class="eventos wrapper-controls">
				<nav class="wrapper-controls-nav">
					<ul class="wrapper-controls-list">
						<li class="wrapper-controls-list-item btn btn-edit" ng-click="edit(evento)">Editar</li>
						<li class="wrapper-controls-list-item btn btn-remove" ng-click="deleteEvento(evento.uidEvento)">Eliminar</li>
					</ul>
				</nav>
			</div>
		</li>
	</ul>
</section>
