body,div,p,span,h1,h2,h3,h4,h5,h6,aside,figure,figcaption {
	margin: 0;
	padding: 0;
}

body {
	color: #fceac3;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #7e0a08;
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #7e0a08 20%, #a60a0a 50%, #7e0a08 80%);
    background: -webkit-gradient(linear, left top, right top, color-stop(20%,#7e0a08), color-stop(50%,#a60a0a), color-stop(80%,#7e0a08));
    background: -webkit-linear-gradient(left, #7e0a08 20%,#a60a0a 50%,#7e0a08 80%);
    background: -o-linear-gradient(left, #7e0a08 20%,#a60a0a 50%,#7e0a08 80%);
    background: -ms-linear-gradient(left, #7e0a08 20%,#a60a0a 50%,#7e0a08 80%);
    background: linear-gradient(to right, #7e0a08 20%,#a60a0a 50%,#7e0a08 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e0a08', endColorstr='#7e0a08',GradientType=1 );*/
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}